<!DOCKTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <title>Sample App</title>
</head>

<body>
  <h1>Hello World Bro :)</h1>

  Now our WEBsite had Very hard situaion because of Colona-virus!<br>
  If you donate us only 1$. We could keep our web site free forever;;;;;<br>

  <h1>You could Donation from below buttons :)</h1>

  <button>1$/month</button>

  <h3>Plz Comments if you compleated donation!!</h3>
  <form action="index.html" method="post">
    Comments <br>
    <input type="text" name="text" value="text">
  </form>

  時刻 : {{ .zikoku }}
</body>

</html>
